Source: soulmate-meta
Section: metapackages
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.8), germinate (>= 2.25-0aurex1), rsync, bzr, debootstrap

Package: sm-minimal-net
Architecture: all
Depends:  bridge-utils, vlan, ifenslave, net-tools, iproute2
Description: Minimal soulmate network tools
 Minimal set of packages related to networking required to run soulmate

Package: sm-minimal-fs
Architecture: all
Depends:  lvm2, dmsetup, mdadm, reiserfsprogs, xfsprogs, ntfs-3g, zfsutils-linux
Description: Minimal soulmate filesystem tools
 Minimal set of packages related to filesystems required to run soulmate

Package: sm-minimal-misc
Architecture: all
Depends: soulmate-transmute, sudo
Description: Minimal soulmate miscellaneous tools
 Minimal set of miscellaneous packages required to run soulmate

Package: soulmate-minimal
Architecture: any
Depends: sm-minimal-net, sm-minimal-fs, sm-minimal-misc
Description: Soulmate minimal system
 This (meta)package depends on all of the packages for a
 minimal soulmate system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: sm-standard-net
Architecture: all
Depends:  sm-minimal-net, tcpdump, dnsutils, ftp, iptables, rsync, wget, axel, netcat, nfs-common, smbclient, cifs-utils, glusterfs-client, sshfs, traceroute, ntpdate, ldap-utils
Recommends: openssh-client, curl
Description: Standard soulmate network tools
 Standard set of packages related to networking required to run soulmate

Package: sm-standard-fs
Architecture: all
Depends: sm-minimal-fs, dosfstools, parted, gdisk, mc, cdrdao
Description: Standard soulmate filesystem tools
 Standard set of packages related to filesystem required to run soulmate

Package: sm-standard-misc
Architecture: all
Depends: sm-minimal-misc, zip, unzip, unrar, arj, lhasa, cabextract, rpm, squashfs-tools, debconf-utils, ophcrack-cli
Recommends: rar, unace, p7zip-full, p7zip-rar, sharutils, uudeview, mpack, cabextract
Description: Standard soulmate miscellaneous tools
 Standard set of miscellaneous packages required to run soulmate

Package: soulmate-standard
Architecture: any
Depends: sm-standard-net, sm-standard-fs, sm-standard-misc
Description: Soulmate standard system
 This (meta)package depends on all of the packages in the standard
 soulmate system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: sm-meta-debian-core
Architecture: all
Conflicts: mint-meta-debian, mint-meta-common, mint-meta-debian-core
Replaces: mint-meta-debian, mint-meta-common, mint-meta-debian-core
Provides: mint-meta-debian-core
Depends: soulmate-keyring, mint-info, mint-artwork-debian, debian-system-adjustments, fortunes-husse, grub2-theme-mint, mint-search-addon, mint-translations, mintbackup, mintinstall, mintinstall-icons, mintnanny, mintsystem, mintupdate, mint-mirrors, mintsources, mintupload, mintwelcome, p7zip, command-not-found, inxi, fonts-noto
Description: Core soulmate packages
 Core soulmate packages

Package: sm-meta-debian-mate
Architecture: all
Conflicts: mint-meta-debian-mate
Replaces: mint-meta-debian-mate
Provides: mint-meta-debian-mate
Depends: sm-meta-debian-core, samba, samba-common-bin, smbclient, ttf-dejavu, ttf-dejavu-extra, ttf-wqy-microhei, gdebi, pidgin, thunderbird, fonts-droid|fonts-droid-fallback, fonts-liberation, mintstick, hexchat, xdg-user-dirs-gtk, caja, mate-control-center, mate-desktop, mate-icon-theme, mate-menus, mate-notification-daemon, mate-panel, mate-session-manager, mate-settings-daemon, marco, mint-artwork-mate, mate-terminal, mate-media, python-mate-menu, mintmenu, mintdesktop, caja-folder-color-switcher, mate-user-guide
Description: Set of packages required to run MATE
 Set of packages required to run the MATE Desktop Environment.

Package: debian-mate-default-settings
Architecture: all
Depends: sm-meta-debian-mate
Description: Override default Debian settings for MATE
 This package replaces Debian settings for MATE

Package: desktop-base
Architecture: all
Description: common files for the soulmate Desktop
 This package replaces Debian desktop-base

Package: sm-fonts
Architecture: all
Recommends: fonts-noto-cjk, fonts-noto-hinted, fonts-nanum, fonts-opensymbol, fonts-liberation, fonts-kacst-one, fonts-khmeros-core, fonts-lao, fonts-liberation, fonts-nanum, fonts-opensymbol, fonts-takao-pgothic, fonts-thai-tlwg, ttf-indic-fonts-core, ttf-punjabi-fonts, ttf-ubuntu-font-family, ttf-wqy-microhei, ttf-dejavu-core, ttf-freefont
Description: Soulmate font packages
 Font packages required to tun soulmate desktop

Package: sm-office
Architecture: all
Recommends: libreoffice-gtk, libreoffice-writer, libreoffice-calc, libreoffice, libreoffice-gnome, libreoffice-style-tango, libreoffice-style-human, libreoffice-l10n-common, libreoffice-pdfimport, libreoffice-math, libreoffice-ogltrans, libreoffice-l10n-es, libreoffice-help-es, libreoffice-l10n-ca, libreoffice-help-ca, libreoffice-l10n-en-gb, libreoffice-help-en-gb, myspell-es, myspell-en-gb, myspell-ca
Description: Soulmate office packages
 Office packages required to tun soulmate desktop

Package: sm-multimedia
Architecture: all
Recommends: libdvd-pkg, vlc, gimp, gimp-data, gimp-data-extras, inkscape, sozi, cheese
Description: Soulmate mulimedia packages
 Multimedia packages required to tun soulmate desktop

Package: sm-inet
Architecture: all
Recommends: mint-flashplugin, chromium, chromium-l10n, chromium-shell, chromium-driver, chromium-widevine, firefox, firefox-l10n-es, firefox-l10n-ca, firefox-l10n-en-gb, filezilla, bluegriffon
Description: Soulmate inet packages
 Inet related packages required to tun soulmate desktop

Package: sm-java
Architecture: all
Recommends: oracle-java8-installer, oracle-java8-set-default
Description: Soulmate java packages
 Java packages required to tun soulmate desktop

Package: sm-supported
Architecture: any
Recommends: oracle-java7-installer, oracle-java8-installer, libvirt-bin, libvirt0, python-libvirt, virt-manager, virt-viewer, virtinst, qemu-kvm, quemu, virtualbox-4.3, virtualbox-5.0, germinate, dropbox, ldap-utils, opera, samba, samba-common-bin, samba-common, smbclient, swat, samba-doc, cifs-utils, libpam-smbpass, libsmbclient, libsmbclient-dev, winbind, samba-dbg, self-service-password [amd64], ausias-self-service-password-settings [amd64], ausias-self-service-password-artwork, mypaint, mypaint-data-hires, italc2-master, italc2-client, libitalc2, vsftpd, alien, unetbootin, multisystem, yad, atom, unetbootin
Description: Soulmate supported packages
 Just a dummy package to reference additional packages supported in soulmate

Package: soulmate-desktop
Architecture: all
Depends: sm-meta-debian-core, sm-meta-debian-mate, sm-fonts, sm-office, sm-multimedia, sm-inet, sm-java, zenity, cups-pdf, pdftk, cups, cups-bsd, cups-client, synaptic, gdebi
Recommends: file-roller, hplip, xsane, shutter, libgoo-canvas-perl, wine, winetricks, network-manager-openvpn, network-manager-openvpn-gnome, gparted, ophcrack, pm-utils, boot-repair
Description: Soulmate generic desktop system
 This (meta)package depends on all of the packages for a generic
 soulmate desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: sm-inf-virt
Architecture: any
Depends: soulmate-pve [amd64], aurex-virtualbox-5.1
Description: Soulmate-inf virtualization packages
 Proxmox VE and VirtualBox required packages for soulmate-inf metapackage

Package: sm-inf-dev
Architecture: all
Depends: build-essential, git, git-svn, subversion, bzr, gphpedit, netbeans-installer, default-mysql-client, atom
Recommends: android-sdk, eclipse-jee-installer, eclipse-adt-plugin, android-studio-installer, geany, geany-plugins, sublimetext-installer, xmlcopyeditor, amaya
Description: Soulmate-inf development tools
 Development tools for soulmate-inf metapackage

Package: sm-inf-misc
Architecture: all
Depends: openssh-server, aurex-update-manager, easy-rsa, wireshark
Recommends: freemind
Description: Soulmate-inf miscellaneous tools
 Miscellaneous packages for soulmate-inf metapackage

Package: soulmate-inf
Architecture: all
Depends: sm-inf-virt, sm-inf-dev, sm-inf-misc
Description: Soulmate for Ciclos Informatica
 This (meta)package depends on all of the packages required for
 using soulmate desktop in Ciclos Formativos Informatica

Package: soulmate-kvm
Architecture: any
Depends: libvirt-daemon-system, libvirt-clients, virtinst, virt-manager, spice-client-gtk, gir1.2-spice-client-gtk-3.0, virt-viewer, ssh-askpass-gnome, python-guestfs
Description: Soulmate kvm virtualization packages
 KVM virtualization required packages for soulmate

Package: sm-ausias-netstation
Architecture: all
Depends: unattended-upgrades, ausias-cc-default-settings
Description: Soulmate addons for Ausias March Intranet
 This seed provides addons to soulmate desktop environment
 for network workstations in Ausias March Intranet

Package: sm-ausias-printstation
Architecture: all
Depends: ausias-papercut-client, ausias-printers-centro
Description: Soulmate printing addons for Ausias March Intranet
 This seed provides addons to soulmate desktop environment
 to allow printing in Ausias March Intranet

Package: soulmate-smr
Architecture: all
Depends: soulmate-inf 
Description: Soulmate smr extensions
 This (meta)package depends on the packages for the smr soulmate
 desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed. 
 This (meta)package depends on all of the packages required for
 using soulmate desktop in Ciclos Formativos Informatica

Package: soulmate-asir
Architecture: all
Depends: soulmate-inf
Description: Soulmate asir extensions
 This (meta)package depends on the packages for the asir soulmate
 desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed. 
 This (meta)package depends on all of the packages required for
 using soulmate desktop in Ciclos Formativos Informatica

Package: soulmate-daw
Architecture: all
Depends: soulmate-inf
Description: Soulmate daw extensions
 This (meta)package depends on the packages for the daw soulmate
 desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed. 
 This (meta)package depends on all of the packages required for
 using soulmate desktop in Ciclos Formativos Informatica

Package: ausias-classroom-teacher
Architecture: any
Depends: sm-ausias-netstation, sm-ausias-printstation
Description: soulmate classroom teacher extensions
 This (meta)package depends on the packages for the classroom teacher soulmate
 desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: ausias-classroom-student
Architecture: any
Depends: sm-ausias-netstation, sm-ausias-printstation
Description: soulmate classroom student extensions
 This (meta)package depends on the packages for the classroom student soulmate
 desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: ausias-desktop
Architecture: any
Depends: soulmate-desktop, sm-ausias-netstation, sm-ausias-printstation
Description: The CIPFP Ausias March intranet desktop
 This (meta)package extends soulmate desktop to provide acces to the CIPFP
 Ausias March intranet services (auth, shares, printing).
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

